@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    overflow: hidden;
  }
  .gradient-border {
    position: relative;
    padding: 15px 20px;
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    border: 1.083px solid transparent;
    background: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1)
      )
      border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  .gradient-border2 {
    position: relative;
    padding: 15px 20px;
  }

  .gradient-border2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    border: 1.083px solid transparent;
    background: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1)
      )
      border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .gradient-border3 {
    position: relative;
    padding: 15px 20px;
  }

  .gradient-border3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    border: 1.083px solid transparent;
    background: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1)
      )
      border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  .gradient-border3:hover {
    border: 3px solid transparent;

    background: linear-gradient(
        160deg,
        rgba(80, 197, 177, 0.5),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(80, 197, 177, 0.5)
      )
      border-box;
    -webkit-mask:
      linear-gradient(#ffffff 0 0) padding-box,
      linear-gradient(#fff 0 0) !important;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}
